@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

html {
  background: #FFF6E1 !important;
  min-height: 100vh;
  overflow-x: hidden;
}
